
.c-container{
    display: flex;
    justify-content: space-between;
}
.c-container>div{
    flex: 1;
}
.c-right{
    width: 100%;
}
.c-left{
    gap: 0.5rem;
}
.contactModes{
    margin-top: 3rem;
    gap: 1rem;
}
.contactMode .row{
    gap: 1.5rem;
}
.mode{
    
    width: 16rem;
    padding: 1rem;
    border:0.8px solid rgba(66, 65, 65, 0.144) ;
    border-radius: 5px;
    gap: 1rem;
    transition: all 0.3 ease-in-out;
}
.mode .button{
    width: 100%;background:lightblue;
    color: rgb(81, 81, 151);
    font-size: 0.9rem;
    font-weight: 600;
}
.mode>:nth-child(1)
{
    width: 100px;
    gap: 1.6rem;
    
}
.mode>:nth-child(2){
    padding: 1rem;
}
span.secondaryText{
    padding-right: 1rem;
}
.mode .detail .primaryText{
    font-size: 1.1rem;
    font-weight: 600;
}
.mode:hover{
    scale: 1.1;
    box-shadow:2px 4px 4px rgba(0, 0, 0, 0.164) ;
    transition: 0.2s ease;
}
.mode .button:hover{
    background-color: lightblue;
    color: white;
    scale: 0.8;

}
.row{
   
}
.mode{
    margin: 1rem;
}