.header-wrapper{
    background: black;
    color: white;
    
    
}
.header-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
   

}
.header-menu{
    gap:2rem;
}
.header-menu a{
    text-decoration: none;
    color: white;
    
}
.header-menu:hover{
    cursor: pointer;
    
}
.menu-icon{
    display: none;
}
@media (max-width: 768px){
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .header-menu{
        z-index: 1;
        color: black;
        position: absolute;
        top: 4rem;
        right: 4rem;
        background-color: white;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        border-radius: 10px;
        align-items: flex-start;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
        transition: all 0.3s ease-in-out;
        
    }
    .header-menu a{
        color: black;

    }
    .header-wrapper{
        width: 100vw;
        overflow-x: hidden;
    }
    
}
