.header-wrapper{
    background: black;
    color: white;
    
}
.header-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
   

}
.header-menu{
    gap:2rem;
}
.header-menu a{
    text-decoration: none;
    color: white;
    
}
.header-menu:hover{
    cursor: pointer;
    
}
